@{
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";

}


<section class="w3l-hero-headers-9">
    <div class="slide header11" data-selector="header11">
        <div class="container">
            <div class="banner-text ">
                <h5 class=" ">
                    Cada mascota necesita
                    <br><strong>Cuidado especial</strong>
                </h5>
                <p class=" ">La medicina cura al hombre, la medicina veterinaria cura a la humanidad.</p>
                @Html.ActionLink("Contacto", "Contact", "Home", new { @class = "btn logo-button top-margin" })
            </div>
        </div>

    </div>
</section>

<section class="w3l-teams-15">
    <div class="team-single-main editContent">
        <div class="container">
            <div class="row">
                <div class="column2 col-lg-6">
                    <img src="~/images/5.jpg" alt="product" class="img-responsive ">
                </div>
                <div class="column2 image-text col-lg-6">
                    <h3 class="team-head editContent">Hacemos que ellos esten <span class="color-text editContent">realmente felices.</span></h3>
                    <p class="para editContent text ">
                        Todo nuestro personal esta capacitado para poder brindar el mejor servicio a sus mascotas, siempre haremos todo procedimiento con las medidas necesarias, ya que nuestros clientes se
                        merecen el mejor trato y la mejor hospitalidad por nuestros especialistas veterinarios.
                    </p>
                    <div class="pet-animals">
                        <div class="pet-grid one-img">
                          
                        </div>
                        <div class="pet-grid two-img">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="w3l-call-to-action_9">
    <div class="call-w3 editContent">
        <div class="container">
            <div class="grids">
                <div class="grids-content row">
                    <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">
                                <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                            </div>
                            <h4><a href="about.html" class=" editContent">Personal experimentado</a></h4>
                            <p class="para editContent">Todo el equipo de veterinarios cuentan con um amplio conocimiento y manejo de mascotas.</p>

                        </div>
                    </div>
                    <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">
                                <span class="fa fa-smile-o" aria-hidden="true"></span>
                            </div>
                            <h4><a href="about.html" class=" editContent">Establecimientos modernos</a></h4>
                            <p class="para editContent">Nuestras instalaciones cuentan con modernos y sofisticados equpipos de medicina.</p>

                        </div>
                    </div>

                    <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">
                                <span class="fa fa-laptop" aria-hidden="true"></span>
                            </div>
                            <h4><a href="about.html" class=" editContent">Consultas sencillas</a></h4>
                            <p class="para editContent">Los detalles de las citas pueden ser consultadas a traves de nuestra nuestra pagina web.</p>

                        </div>
                    </div>
                    <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">
                                <span class="fa fa-diamond" aria-hidden="true"></span>
                            </div>
                            <h4><a href="about.html" class=" editContent">Recorte de cabello</a></h4>
                            <p class="para editContent">Estamos dispuestos a dejarle un mejor look a tu amigo canino con nuestros cortes hechos por personal especializado.</p>

                        </div>
                    </div>
                    <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">
                                <span class="fa fa-magic" aria-hidden="true"></span>
                            </div>
                            <h4><a href="about.html" class=" editContent">Cepillado</a></h4>
                            <p class="para editContent">Al finalizar cada recorte se hara un cepillado a su mascota para que pueda relucir su esplendido pelaje.</p>

                        </div>
                    </div>                       <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">
                                <span class="fa fa-check" aria-hidden="true"></span>
                            </div>
                            <h4><a href="about.html" class=" editContent">Facil acceso</a></h4>
                            <p class="para editContent">Nuestras instalaciones cuentan con facil acceso para que puedas traer a tu mascota.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container">
            <div class=" row">
                <div class="my-bio col-lg-6">
                    <h3 class="title-big">Ofrenciendo un <span class="color-text editContent">Servcio completo </span>a tus mascotas</h3>
                    <div class="hair-make">
                        <h5><a href="#page">Calidad y cuidado</a></h5>
                        <p class="para mt-2">Los servicios que se ofrecen son realizados con la mas alta calidad y cuidado que se le puede dar a su mascota.</p>
                    </div>
                    <div class="hair-make">
                        <h5><a href="#page">Cepillado</a></h5>
                        <p class="para mt-2">Se le hara un cepillado el cual no maltratara el pelaje de su mascota, ya que se hara con el tacto necesario.</p>
                    </div>
                    <div class="hair-make">
                        <h5><a href="#page">Corte de uñas</a></h5>
                        <p class="para mt-2">Se hara un corte de uñas cuidadoso para evitar accidentes con cualquier tipo de mascota.</p>
                    </div>
                </div>
                <div class="col-lg-6 position-relative back-image">
                    <img src="~/images/7.jpg" alt="product" class="img-responsive ">
                </div>
            </div>
</section>


<section class="w3l-covers-18">
    <div class="covers-main editContent">
        <div class="main-titles-head text-center">
            <h3 class="header-name editContent">
                Galeria de mascotas
            </h3>
            <p class="tiltle-para editContent editContent">Todos nuestro clientes satisfechos despues de visitar San Julian Vet</p>
        </div>
        <div class="container">
            <div class="gallery-image">
                <div class="img-box">
                    <a href="#page"> <img src="~/images/12.jpg" alt="product" class="img-responsive "></a>

                    <div class="caption">
                        <h6><a href="#page">Perrito marron dorado</a></h6>
                       
                    </div>
                </div>

                <div class="img-box">
                    <a href="#page"> <img src="~/images/13.jpg" alt="product" class="img-responsive "></a>

                    <div class="caption">
                        <h6><a href="#page">Cachorro blanco con gris</a></h6>
                        
                    </div>

                </div>
                <div class="img-box">
                    <a href="#page"> <img src="~/images/8.jpg" alt="product" class="img-responsive "></a>

                    <div class="caption">
                        <h6><a href="#page">Perrito negro con cafe</a></h6>
                       
                    </div>

                </div>
                <div class="img-box">
                    <a href="#page"><img src="~/images/9.jpg" alt="product" class="img-responsive "></a>

                    <div class="caption">
                        <h6><a href="#page">French gris claro</a></h6>
                        
                    </div>

                </div>
                <div class="img-box">
                    <a href="#page"><img src="~/images/10.jpg" alt="product" class="img-responsive "></a>

                    <div class="caption">
                        <h6><a href="#page">Perrito gris oscuro</a></h6>
                       
                    </div>
                </div>
                <div class="img-box">
                    <a href="#page"><img src="~/images/11.jpg" alt="product" class="img-responsive "></a>

                    <div class="caption">
                        <h6><a href="#page">Perro adulto</a></h6>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




