
@{
    Layout = null;
    @Styles.Render("~/Content/css/style1.css")
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Working Signin form Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Working Signin form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
    <!--//Style-CSS -->
</head>

<body>

    <!-- form section start -->
    <section class="w3l-workinghny-form">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="wrapper">
                <div class="workinghny-block-grid">
                    <div class="workinghny-left-img align-end" style="position:relative; bottom:15%;">
                        <img src="~/images/3.jpg" class="img-responsive" alt="img" height="330" width="550" />
                    </div>
                    <div class="form-right-inf">
                        @if (TempData["mensaje"] != null)
                        {
                            <div class="alert" role="alert">
                                @TempData["mensaje"]
                            </div>
                        }
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {
                            <div class="login-form-content">
                                <form action="#" class="signin-form" method="post" id="frm">
                                    <div class="one-frm">

                                        <label>Name</label>
                                        <input type="text" name="Usuario" />
                                    </div>
                                    <div class="one-frm">
                                        <label>Password</label>
                                        <input type="password" name="pass" />
                                    </div>
                                    <input type="submit" name="Submit" value=" Sign In" class="btn btn-style mt-3" />
                                    <p class="already">No tienes una cuenta? @Html.ActionLink("Registrarse", "Registrar", "Home")</p>
                                    <p class="already">@Html.ActionLink("Volver", "Index", "Home")</p>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </section>
    <!-- //form section start -->


</body>



</html>