@{
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";

}

<section class="w3l-inner-banner-main">
    <div class="about-inner editContent">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone">@Html.ActionLink("Inicio", "Index", "Home", new { @class = "editContent", @aria_hidden = "true" }) <span class="fas fa-chevron-right" aria-hidden="true"></span></li>
                <li class="active editContent">Servicios</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-recent-work-hobbies" id="services">
    <div class="recent-work editContent">
        <div class="container">
            <div class="row about-about">
                <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top">
                    <div class="pet-grid-row">
                        <img src="~/images/f5.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids editContent">
                            <h5><a href="#page" class="editContent">Fisioterapia</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top">
                    <div class="pet-grid-row">
                        <img src="~/images/f4.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids editContent">
                            <h5><a href="#page" class="editContent">Calidad y cuidado</a></h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top">
                    <div class="pet-grid-row">
                        <img src="~/images/f3.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids editContent">
                            <h5><a href="#page" class="editContent">Limpieza de orejas</a></h5>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top">
                    <div class="pet-grid-row">
                        <img src="~/images/f2.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids editContent">
                            <h5><a href="#page" class="editContent">Cepillado</a></h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top">
                    <div class="pet-grid-row">
                        <img src="~/images/f6.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids editContent">
                            <h5><a href="#page" class="editContent">Corte de cabello</a></h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top">
                    <div class="pet-grid-row">
                        <img src="~/images/f1.jpg" alt="product" class="img-responsive about-me">
                        <div class="about-grids editContent">
                            <h5><a href="#page" class="editContent">Seguro animal</a></h5>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-services-two" id="services">
    <div class="service-single-page editContent">
        <div class="container">
            <div class=" service-treat">

                <div class="service-pet">
                    <div class="image-grid">
                        <img src="~/images/f6.jpg" alt="product" class="img-responsive about-me">
                    </div>
                    <div class="pet-animals">
                        <h4>
                            <br /><br />
                            <a href="#page">
                                Baño,secado y cepillado
                            </a>
                        </h4>
                        
                    </div>
                </div>
                <div class="service-pet">
                    <div class="image-grid">
                        <img src="~/images/f1.jpg" alt="product" class="img-responsive about-me">
                    </div>
                    <div class="pet-animals">
                        <br /><br />
                        <h4>
                            <a href="#page">
                                Aseo completo
                            </a>
                        </h4>

                    </div>
                </div>
                <div class="service-pet">
                    <div class="image-grid">
                        <img src="~/images/f9.jpg" alt="product" class="img-responsive about-me">
                    </div>
                    <div class="pet-animals">
                        <br /><br />
                        <h4>
                            <a href="#page">
                                Estilos para tu mascota
                            </a>
                        </h4>

                    </div>
                </div>
                <div class="service-pet">
                    <div class="image-grid">
                        <img src="~/images/f8.jpg" alt="product" class="img-responsive about-me">
                    </div>
                    <div class="pet-animals">
                        <br />
                        <br />
                        <h4>
                            <a href="#page">
                                Limpieza total
                            </a>
                        </h4>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>